*
!git_tips
!.vimrc
!.gitignore
!.bash_profile
!.screenrc
!.vim
!.bashrc
!.gitconfig
!.git-completion.sh
!.irbrc
!.alias
!bin/
!.bash_completion.d/
!pager
.DS_Store
pkg
coverage
test_runs
test_runs/**/*
rdoc
log/[^.]*
tmp/[^.]*
*.swp
